<!DOCTYPE html>
<html ng-app="sampleApp" ng-controller="sampleController" >
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="angular.min.js" charset="utf-8"></script>
  </head>
  <body>
    <h1>Enter text to add to todolist</h1>
    <input type="text" ng-model="list">
    <input type="button" ng-click="addList()" value="Add">

    <li ng-repeat="list in dataList track by $index">
        <p>
          {{ list }} <input type="button" ng-click="removeItem()" value="Remove" >
        </p>
    </li>

    <script type="text/javascript">
      var module = angular.module('sampleApp',[]);
      module.controller('sampleController',function($scope){
        $scope.dataList = [];

        $scope.addList = function(){
          var item = $scope.list;
          $scope.dataList.push(item);
          $scope.list = '';
        };

        $scope.removeItem = function(){
          var index = this.$index;
          $scope.dataList.splice(index,1);
        }
      });
    </script>

  </body>
</html>
